<h1>Мы находимся по адресу ул.Смелянская, 63</h1>

<section class="works_s">
<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 col-sm-6 p0">
      <div class="work_block">
        <div class="image_wrap">
          <div class="work_descr">
            <h4>PROJECT NAME</h4>
            <p>some description</p>
          </div>
        </div>
        <!--<img src="img/work-1.jpg" class="img-responsive" alt="workItem">-->
        <%= image_tag("work-1.jpg", class: "img-responsive", alt: "work-1") %>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 p0">
      <div class="work_block">
        <div class="image_wrap">
          <div class="work_descr">
            <h4>PROJECT NAME</h4>
            <p>some description</p>
          </div>
        </div>
        <%= image_tag("work-2.jpg", class: "img-responsive", alt: "work-2") %>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 p0">
      <div class="work_block">
        <div class="image_wrap">
          <div class="work_descr">
            <h4>PROJECT NAME</h4>
            <p>some description</p>
          </div>
        </div>
        <%= image_tag("work-3.jpg", class: "img-responsive", alt: "work-3") %>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 p0">
      <div class="work_block">
        <div class="image_wrap">
          <div class="work_descr">
            <h4>PROJECT NAME</h4>
            <p>some description</p>
          </div>
        </div>
        <%= image_tag("work-4.jpg", class: "img-responsive", alt: "work-4") %>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 p0">
      <div class="work_block">
        <div class="image_wrap">
          <div class="work_descr">
            <h4>PROJECT NAME</h4>
            <p>some description</p>
          </div>
        </div>
        <%= image_tag("work-5.jpg", class: "img-responsive", alt: "work-5") %>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 p0">
      <div class="work_block">
        <div class="image_wrap">
          <div class="work_descr">
            <h4>PROJECT NAME</h4>
            <p>some description</p>
          </div>
        </div>
        <%= image_tag("work-6.jpg", class: "img-responsive", alt: "work-6") %>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 p0">
      <div class="work_block">
        <div class="image_wrap">
          <div class="work_descr">
            <h4>PROJECT NAME</h4>
            <p>some description</p>
          </div>
        </div>
        <%= image_tag("work-7.jpg", class: "img-responsive", alt: "work-7") %>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 p0">
      <div class="work_block">
        <div class="image_wrap">
          <div class="work_descr">
            <h4>PROJECT NAME</h4>
            <p>some description</p>
          </div>
        </div>
        <%= image_tag("work-8.jpg", class: "img-responsive", alt: "work-8") %>
      </div>
    </div>
  </div>
</div>
</section>
