<html>
	<head>
		<title>Faberlic Черкассы</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<!-- Bootstrap -->
	<!--	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

			<link rel="stylesheet" href="css/main.css" />
			<link rel="stylesheet" href="css/media.css" />
			<link rel="stylesheet" href="css/fonts.css" />-->
	</head>
<body>
<section class="team_s">
  <h1>Faberlic выпускает разнообразную продукцию</h1><br>
   <div class="container">
     <div class="row">

       <div class="col-md-2 col-sm-4">
         <div class="team_item">
          <%= image_tag("Косметика.png", class: "img-responsive", alt: "Косметика" ) %>
           <!--<img src="img/Косметика.png" class="img-responsive" alt="teamMember">-->
           <h4>Косметика</h4>
           <p>Декоративная косметика пряямо из Франции</p>
         </div>
       </div>

       <div class="col-md-2 col-sm-4">
         <div class="team_item">
           <%= image_tag("Парфюмерия.png", class: "img-responsive", alt: "Парфюмерия") %>
           <h4>Парфюмерия</h4>
           <p>Оригинальная парфюмерия от французского производителя</p>
         </div>
       </div>

       <div class="col-md-2 col-sm-4">
         <div class="team_item">
           <%= image_tag("Здоровье.png", class: "img-responsive", alt: "Здоровье") %>
           <h4>Здоровье</h4>
           <p>Здоровье - Самое дорогое, что у нас есть. Фирма предлагает широкий выбор товаров.</p>
         </div>
       </div>

       <div class="col-md-2 col-sm-4">
         <div class="team_item">
           <%= image_tag("Гигиена.png", class: "img-responsive", alt: "Гигиена") %>
           <h4>Гигиена</h4>
           <p>Широкий выбор товаров для индивидуальной гигиены</p>

         </div>
       </div>

       <div class="col-md-2 col-sm-4">
         <div class="team_item">
           <%= image_tag("Посуда.png", class: "img-responsive", alt: "Посуда") %>
           <h4>Посуда</h4>
           <p>Оригинальная и разнообразная посуда</p>
         </div>
       </div>

       <div class="col-md-2 col-sm-4">
         <div class="team_item">
           <%= image_tag("Одежда.png", class: "img-responsive", alt: "Одежда") %>
           <h4>Одежда</h4>
           <p>Современная удобная одежда на все случаи жизни, погоду и возраст</p>
         </div>
       </div>

     </div>
   </div>
 </section>

</body>
</html>
