<h1>Список контактов:</h1>

<% @contacts.each do |contact| %>
	<h2>
		<%= contact.name %>
	</h2>
	<p>
			<%= contact.phone %>
	</p>
	<p>
			<%= contact.email %>
	</p>

	<p>
		<%= contact.message %>
	</p>

	<p>
		Всего <%= contact.comments.size %> комментариев.
	</p>

	<p>
		<%= link_to 'Показать', contact_path(contact) %> |
		<%= link_to 'Удалить', contact_path(contact), method: :delete, data:{ confirm: "Вы уверены?" } %>
	<p/>
	<hr />
<% end %>
