<!DOCTYPE html>
<html>
  <head>
    <title>Faberlic Черкассы</title>
    <!--<%= csrf_meta_tags %>-->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Bootstrap -->
    <!--<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--  <link rel="stylesheet" href="/css/main.css" />
      <link rel="stylesheet" href="/css/media.css" />
      <link rel="stylesheet" href="/css/fonts.css" />-->


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav>
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed menu_btn" data-toggle="collapse" data-target="#top_menu">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>

          <!--  <a href="/main" class="navbar-brand logo" >-->
              <%= link_to image_tag("logo.png", alt: "Logo" ), "/main" %>
              <!--<img src="/images/logo.png" alt="logo">-->
            </a>
          </div>

          <div class="collapse navbar-collapse navbar-right" id="top_menu">
            <ul class="menu">
              <li><a href="/main">Главная</a></li>
              <li><a href="/happy">Удача</a></li>
              <li><a href="/about">О нас</a></li>
              <li><a href="/contacts">Контакты</a></li>
            </ul>
          </div>
        </div>
        <div class="top_line"></div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="title_block">
            <h4>Faberlic - в Черкссах</h4>
            <p>Мы нходимся по адресу Смелянская,63.</p>
            <p>Если вы знакомы с продукцией компании и хотите подписаться, Нажмите на кнопку.</P>
            <!-- <a href="http://faberlic.com/register?sposor=26414361" class="my_btn btn-md">Подписаться</a> -->
          </div>
        </div>
      </div>
    </div>

  </header>


    <%= yield %>
  </body>
</html>
